.box.hello
  .box
    %h1= @title
  .container
    .box
      %input.input-text.js-text{:type => "text", :name => "button_text", :placeholder => "Type here, bro"}

.box.big
  .container
    .box.highlight
      %p 
        %strong HTML
        (I'm just for show)
      %button.button.js-button I am a butt

.box
  .container
    .box.highlight
      %p 
        %strong PNG
        (Click image to download)
      %a.js-dl{:href => "#"}
        .js-image
          %p Nothing to see here yet
