.box.hello
  .box
    %h1= @title
.box
  %ul.inline.js-swap-list
    %li
      = image_tag 'meme-not_sure_if.jpg', :class => 'fit'
    %li
      = image_tag 'meme-success_kid.jpg', :class => 'fit'
.box.big
  .container
    %button.js-swap 
      %i.fa.fa-retweet Swap Image
    %button 
      %i.fa.fa-download Download
    .box.meme.js-meme
      .meme-canvas.js-meme-canvas
        = image_tag 'meme-not_sure_if.jpg', :class => 'fit'
        .caption.caption-1
          %h1.js-caption-1
        .caption.caption-2
          %h1.js-caption-2
      %input.input-text.meme-text.js-meme-text{:type => "text", "data-target" => 1, :placeholder => "Not sure if"}
      %input.input-text.meme-text.js-meme-text{:type => "text", "data-target" => 2, :placeholder => "Something something"}

.box
  .container
    .box.highlight
      %a.js-dl{:href => "#"}
        .js-image
          %p Nothing to see here yet
